// variables who are used only in one file should stay in that file
$animation-delay: 1.2s;

*{
    box-sizing: border-box;
}

body {
    background-color: orange;
}

.container{
    height: 100vh; // viewport units example
}

.rectangle-bounce {
    height: 60px;
    width: 70px;
    margin: 0 auto;
    display: block;
    @include v-align(relative); // mixin example

    // animation example: animation-name animation-delay iteration-count animation-timing-function;
    div {
        height: 100%;
        width: 7px;
        margin: 0 3px 0 0;
        background-color: #fff;
        display: inline-block;
        -webkit-animation: stretchdelay $animation-delay infinite ease-in-out;
        animation: stretchdelay $animation-delay infinite ease-in-out;
    }

    /*
        for loop example $i = the variable
        use ${} to attach the variable to the selector
     */
    @for $i from 1 through 5 {
        div.rect#{$i} {
            -webkit-animation-delay: -($animation-delay -($i/10));
            animation-delay: -($animation-delay -($i/10));
        }
    }
}